/* doesn't transform the text */
p.none {
  line-height: 2;
  text-transform: none;
  letter-spacing: 10px;
  text-indent: 40px;
}

h5 {
  text-align: end;
}

p.capitalize {
  background: orange;
  /* word-spacing: 30px; */

  /* text-transform: capitalize; */
}

/* transforms the text to uppercase */
p.uppercase {
  text-transform: uppercase;
}

/* transforms the text to lowercase */
p.lowercase {
  text-transform: lowercase;
}